body {
	background-color: #76D7C4;
}

table {
	margin: 25px auto;
}
.pre-animation {
    opacity: 0;
    }
.transparent {
    transition: 0.75s;
    opacity: 0.5;
}

.opaque {
	transition: 0.75s;
	opacity: 1;
}
.icons{
	height: 90%;
	width: 100%;
	margin: none;
	font: bold 75px Lato;
	color: #138D75;
	text-align: center;
}
td {

	height: 100px;
	width: 100px;
	padding: 2px;
	border: solid 1px #138D75;
	border-radius: 5px;
	cursor: pointer;
}

#title {

	font: bold 80px Lato;
	color: #138D75;
	text-align: center;
	margin-bottom: 10px;
}

button{
	margin:auto;
  	display:block;
  	padding: 10px;
	border: solid 1px #138D75;
	border-radius: 5px;
	background-color: #138D75;
	color: #76D7C4;
	font: bold 25px Lato;
	cursor: pointer;	
}

button:hover {
	background-color: #0d6856;
}

